.App {
  text-align: center;
}

.App-logo {
  /* ここを変更 */
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* ここを変更 */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* ここを変更 */
  font-size: calc(6px + 1vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ここを変更 */
.App .editor {
  width: 900px;
  margin-left: 20%;
  margin-top: 50px;
}
/* ここを変更 */
.App .rdw-editor-main {
  height: 200px;
}
/* ツールバー＋入力欄の全体 */
.wrapperClassName {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
/* ツールバー */
.toolbarClassName {
  padding: 1rem;
  border: 1px solid #ccc;
}
/* 入力欄 */
.editorClassName {
  border: 1px solid #ccc;
  background: #fff;
  padding: 0 8px;
  height: 200px;
}
